<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<body>

    {% if 'email' in session %}
        Logged in as: <a href="/users/{{session['user_id']}}">{{ session['email'] }}</a>
        <a href="/logout">Log Out</a>
    {% else %}
        <a href="/login">Log In</a>
        <a href="/register">Register</a>
    {% endif %}
    <a href="/">Home</a>
  <hr>

    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
    {% endwith %}

  {% block content %} put your content here {% endblock %}

</body>
</html>