{% extends 'base.html' %}
{% block content %}


    <div class="jumbotron">
        <div class="container">
          <h1 align="center">Welcome to the Judgmental Eye</h1>
          <p align="center">Rate movies and be berated for your terrible taste.</p>

          <img src="http://www.psp-themes.net/data/media/4/Lord%20of%20the%20rings.jpg" 
          class="img-responsive" width="600px"/>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <h2>About the Eye</h2>
                <p>The Judgmental Eye is a hyper-intelligent being that has much better taste in movies than you.<small>*</small>  Browse movies and users, add your own ratings (or see what the Eye predicts your ratings will be), and find out what the Eye thinks of you.</p>

                <br><br>
                <p><small>*By this, we mean that it actually has really terrible taste. It's also a meanie-pants. We waive all responsibility for damage inflicted on your feelings.<small></p>
            </div>
        </div>
    </div>

{% endblock %}