{% extends 'base.html' %}
{% block content %}

<h1>Log In</h1>
<br>

<form action='/login' method="POST">
    <label for="inputEmail" class="control-label">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email">
    </label>

        <br>

    <label for="inputPassword" class="control-label">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
    </label>

    <br>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>


{% endblock %}