{% extends 'base.html' %}
{% block content %}

    <h2>Movie Details</h2>

    <p>Title: {{movie.title}}</p>

    {% if 'email' in session %}

        {% if record %}
            <p>Your current score for this movie is {{record.score}}. You can update it below.</p>
        {% endif %}

        <form action="/movies/{{ movie.movie_id }}" method="POST">
            <label> Type your rating here: 
                <input type="text" name="rating">
            </label>

            <input type="submit" >

        </form>

    {% endif %}

    <h4>Movie ratings:</h4>
    <ul>
      {% for rating in ratings %}
        <li>User {{rating.user_id}} gave this movie a score of: {{rating.score}}</li>
      {% endfor %}
    </ul>


{% endblock %}