{% extends 'base.html' %}
{% block content %}

    <h2>{{movie.title}}</h2>
    <br>


        <div class = "container-fluid">
            <div class = "row" >
                <div class="container-fluid">
                    <div class="col-xs-6">
                        <h4>IMDB Page: <a font-size="12px" href="{{movie.imdb_url}}">{{movie.imdb_url}}</a></h4>

                        <h4>Release Date: {{release_date}}</h4>
                        <br>
                        <h4>Movie ratings:</h4>
                        <ul>
                          {% for rating in ratings %}
                            <li>User {{rating.user_id}} gave this movie a score of: {{rating.score}}</li>
                          {% endfor %}
                        </ul>
                    </div>

                {% if 'email' in session %}
                    <div class="col-xs-6">
                        {% if record %}
                            <h4>Your current score for this movie is <b>{{record.score}}</b>. The Eye rates this movie as <b>{{eye_rating}}</b>. 
                            {% if beratement %}
                                {{beratement}} 
                            {% endif %}
                            You can update your rating below.</h4>
                        {% endif %}

                        <h4><b>Average rating: </b>{{ average }}</h4>
                        {% if prediction %}
                            <h4>We predict you will rate this movie {{ prediction }}. The Eye rates this movie as {{eye_rating}}. 
                            {% if beratement %}
                                {{beratement}}
                            {% endif %}</h4>
                        {% endif %}

                        <form action="/movies/{{ movie.movie_id }}" method="POST">
                            <label> Type your rating here: 
                                <input type="number" class="form-control" name="rating" placeholder="Rating">
                            </label>

                            <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                    </div>
 
                {% endif %}

                </div>
            </div>    

{% endblock %}