{% extends 'base.html' %}
{% block content %}

<h1>Register</h1>
<br>

<form action='/register' method="POST">
    <div class="form-group">
        <label for="inputEmail" class="control-label">Email Address:
            <input type="text" class="form-control" name="email" placeholder="Email">
        </label>

            <br>

        <label for="inputPassword" class="control-label">Password: 
            <input type="password" class="form-control" name="password" placeholder="Password">
        </label>

        <br>

        <label class="control-label">Age: 
            <input type="number" class="form-control" name="age" placeholder="Age">
        </label>

        <br>

        <label class="control-label">Zipcode: 
            <input type="text" class="form-control" name="zipcode" placeholder=Zipcode>
        </label>

        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>


{% endblock %}